name: Continuous Integration

on:
  push:
    branches: [ "main" ]

permissions:
    contents: read

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0

      - name: Run tests
        run: dotnet test --configuration Release

      - name: Publish
        run: dotnet publish src/ActionsDotNet.Api/ActionsDotNet.Api.csproj --configuration Release -o artifacts

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: actions-dotnet
          path: artifacts/
