name: Secrets workflow

permissions:
  contents: read

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Secrets demo
    runs-on: ubuntu-latest

    steps:
      - name: echo secret number
        run: |
          echo 'Secret number is: ${{ secrets.SECRET_NUMBER }}'
